<section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>ADRESSE</h3>
                        
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Domaines d'intervention</h3>
                        <ul>
                            <li><a href="{{ path('_di_constats')}}">Constats</a></li>
                            <li><a href="{{ path('_di_signification_recouvrement')}}">Signification et recouvrement <br />judiciaire</a></li>
                            <li><a href="{{ path('_di_recouvrement_aimable')}}">Recouvrement amiable <br />de créances</a></li>
                            <li><a href="{{ path('_di_mediation')}}">Médiation</a></li>
                            <li><a href="{{ path('_di_ventes_encheres')}}">Ventes aux enchères</a></li>
                            <li><a href="{{ path('_di_jeux_concours')}}">Jeux – Concours</a></li>
                            <li><a href="{{ path('_di_conseil')}}">Conseil</a></li>
                            <li><a href="{{ path('_di_administration_biens')}}">Administration de biens</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-6 col-sm-6">
                    <div class="widget">
                        <h3>CONTACTER NOUS</h3>
                  {{render(controller('AcmeDemoBundle:Contactus:showFormFooter'))}}
                  </div> 
                </div><!--/.col-md-6-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="{{ path('_other_welcome')}}">Accueil</a></li>
                        {#<li><a href="#">Notre Etude</a></li>#}
                        {#<li><a href="#">Faq</a></li>#}
                        <li><a href="{{ path('_contact_us')}}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
