<header id="header" style="z-index: 1041; position: fixed; left: 0px; right: 0px; top: 0px;">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-4">
                    <div class="top-number"><p><i class="fa fa-phone-square"></i>  +237 696 27 63 26</p></div>
                </div>
                <div class="col-sm-6 col-xs-8">
                    <div class="social">
                        <ul class="social-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                        <div class="search">
                            <form role="form">
                                <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                <i class="fa fa-search"></i>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </div><!--/.top-bar-->

    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    {# <img src="{{ asset('bundles/acmedemo/images/logo.png') }}" alt="logo">#}
                    <h2><strong>ETUDE-MBELECK</strong></h2>
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="{% block menuAccueil %}{% endblock %}"><a href="{{ path('_other_welcome')}}">Accueil</a></li>
                    <li class="dropdown {% block menuEtude %}{% endblock %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notre Etude <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('_etude_signature_professionnelle')}}">Signature professionnelle</a></li>
                            <li><a href="{{ path('_etude_hussier_mbeleck')}}">Maître Mbeleck</a></li>
                        </ul>
                    </li>
                    <li class="dropdown {% block menuDomaineIntervention %}{% endblock %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Domaines d'intervention <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('_di_constats')}}">Constats</a></li>
                            <li><a href="{{ path('_di_signification_recouvrement')}}">Signification et <br />recouvrement judiciaire</a></li>
                            <li><a href="{{ path('_di_recouvrement_aimable')}}">Recouvrement <br />amiable de créances</a></li>
                            <li><a href="{{ path('_di_mediation')}}">Médiation</a></li>
                            <li><a href="{{ path('_di_ventes_encheres')}}">Ventes aux enchères</a></li>
                            <li><a href="{{ path('_di_jeux_concours')}}">Jeux – Concours</a></li>
                            <li><a href="{{ path('_di_conseil')}}">Conseil</a></li>
                            <li><a href="{{ path('_di_administration_biens')}}">Administration de biens</a></li>
                        </ul>
                    </li>
                    <li class="{% block menuConsultation %}{% endblock %}"><a href="{{ path('_other_welcome')}}">Consultation en ligne</a></li> 
                    <li class="{% block menuContact %}{% endblock %}"><a href="{{ path('_contact_us')}}">Contact</a></li>                        
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->

</header><!--/header-->
